<div class="more-actions-container clearfix">
    <div>
        <div class="left-circle"></div>

        <div class="actions">
            <button class="btn" type="submit" (click)="back()">
                <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
                Back
            </button>
            <button class="btn" type="submit" (click)="create()">
                <i class="fa fa-plus-square" aria-hidden="true"></i>
                Create
            </button>

        </div>

        <div class="right-circle btn">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </div>
    </div>

</div>

<div class="card clearfix">
    <div class="card-title">
        <h1 class="h1 title">Create new category</h1>
    </div>
    <div class="card-body">
        <form [formGroup]="form" >
            <ngb-tabset>
                <ngb-tab>
                    <ng-template ngbTabTitle>General</ng-template>
                    <ng-template ngbTabContent>

                        <div class="form-group">
                            <label for="title">
                                Title
                                <span>*</span>
                            </label>
                            <input type="text" class="form-control" id="title"
                                   formControlName="title">
                        </div>
                        <div class="form-group">
                            <label for="description">
                                Description
                                <span>*</span>
                            </label>
                            <textarea class="form-control" id="description"
                                      formControlName="description" cols="30" rows="10">

                            </textarea>
                        </div>

                        <div class="form-group">
                            <label for="sort-description">
                                Sort description
                            </label>
                            <textarea class="form-control" id="sort-description"
                                      formControlName="sortDescription" cols="30" rows="5">

                            </textarea>
                        </div>

                        <div class="form-group">
                            <label for="status">
                                Status
                                <span>*</span>
                            </label>

                            <select class="form-control" name="status" id="status" formControlName="status">
                                <option value="true">Enabled</option>
                                <option value="false">Disabled</option>
                            </select>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>Display settings</ng-template>
                    <ng-template ngbTabContent>
                        <div class="form-group">
                            <label for="display-mode">
                                Display mode
                            </label>

                            <select class="form-control" name="display-mode" id="display-mode" formControlName="displayMode">
                                <option value="products">Products only</option>
                                <option value="cms">Cms block only</option>
                                <option value="products-cms">Products and Cms block</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="cms-block">
                                CMS Block
                            </label>

                            <select class="form-control" name="cms-block" id="cms-block" formControlName="cms">
                                <option value="Placeholder 1">Placeholder 1</option>
                                <option value="Placeholder 2">Placeholder 2</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="sorting-options">
                                Available Sorting options
                            </label>

                            <select class="form-control" name="sorting-options" id="sorting-options" formControlName="sortingOptions" multiple>
                                <option value="price">Price</option>
                                <option value="name">Name</option>
                                <option value="date">Date</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="sorting-options">
                                Default Sorting options
                            </label>

                            <select class="form-control" name="default-sorting" id="default-sorting" formControlName="defaultSorting" multiple>
                                <option value="price">Price</option>
                                <option value="name">Name</option>
                                <option value="date">Date</option>
                            </select>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>Custom design</ng-template>
                    <ng-template ngbTabContent>
                        <div class="form-group">
                            <label for="display-mode">
                                Placeholder
                            </label>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>Images</ng-template>
                    <ng-template ngbTabContent>
                        <div class="form-group">
                            <label for="images" class="custom-inputfile-label">
                                {{uploader.queue.length === 0 ?
                                'Choose file(s)' :
                                (uploader.queue.length === 1 ? uploader.queue[0].file.name :  uploader.queue.length + ' files')}}
                            </label>
                            <input type="file" class="form-control custom-inputfile" id="images" ng2FileSelect [uploader]="uploader"
                                  multiple />

                        </div>

                        <div class="form-group" *ngIf="uploader.queue.length > 0">
                            <div class="row">
                                <div class="col-2" *ngFor="let image of uploader.queue; let i=index">
                                    <label class="media" [ngClass]="{'active': highlight === i}">
                                        <span class="mr-3 align-self-center">
                                            <img [src]="filePreviewPath[i]" class="img-fluid">
                                        </span>

                                        <span class="media-body">
                                            <input type="radio" name="highlight" (change)="setHighlightImage(i)"/>
                                            <span class="radio-indicator media-action"></span>
                                            <button class="media-action" type="button" (click)="removeItem(i)">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </button>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>Category products</ng-template>
                    <ng-template ngbTabContent>
                        <table class="table text-center">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Thumbnail</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Qty</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let product of products">
                                <td>
                                    <label class="custom-checkbox position-relative">
                                        <input class="custom-control-input" type="checkbox" value="{{product._id}}" (change)="addProductToCategory(product._id)">
                                        <span class="custom-control-indicator checkox-indicator"></span>
                                    </label>
                                </td>
                                <td>
                                    <img [src]="'/media/' + product.images.gallery[product.images.highlight]" width="70" class="img-fluid">
                                </td>
                                <td>{{product.title}}</td>
                                <td>{{product.price}}</td>
                                <td>{{product.qty}}</td>
                                <td>{{product.status ? 'Enabled' : 'Disabled'}}</td>
                                <td>
                                    <a class="table-action" [routerLink]="['/admin/index/product/', product._id]">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </form>
    </div>
</div>
