@import '../../../styles/variables';

main {
  width:100%;
  height:100%;
  padding-top:85px;
  padding-bottom: 65px;
  padding-left: 255px;
  position: relative;
  float: left;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: $primaryColor;
  padding: 15px 25px 15px 255px;
  @include box-shadow-light;
  z-index: 1060;
  .top-nav-left {
    float: left;
    .button-menu-mobile {
      border-radius: 50%;
      background-color: $whiteColor;
      color: $primaryColor;
      padding: 7px 9px;
      line-height: 2px;
      position: relative;
      @include fancy-btn-white;
      i {
        font-size: 21px;
      }
    }
    .search {
      display: inline-block;
      margin-left: 10px;
      input {
        background-color: rgba(255, 255, 255, 0.1);
        color: $whiteColor;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 25px;
        padding: 7px 15px 6px;
        outline: none;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: $whiteColor;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: $whiteColor;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: $whiteColor;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: $whiteColor;
        }
      }
    }
  }
  .top-nav-right {
    float: right;
    .btn{
      border: 1px solid #fff;
      border-radius: 50%;
      width:39px;
      height:39px;
      padding:0;
      overflow: hidden;
      &:after{
        display: none;
      }
    }
    .nav-item + .nav-item{
      margin-left: 10px;
    }
  }
}

.left-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  z-index: 1070;
  background-color: $whiteColor;
  .h1 {
    @include logo-style;
    padding-left: 15px;
    margin-bottom: 30px;
  }
  a {
    color: $secondaryColor;
  }
}

.nav-link{
  border: none;
  background-color: transparent;
  display: block;
  width:100%;
  cursor: pointer;
  text-align: left;
  outline: none;
  &:hover, &.opened, &.active{
    background-color: #f2f2f2;
  }
}

.menu-collapse{
  border-bottom:2px solid $primaryColor;
}

iframe {
  zoom: 18;
  -ms-zoom: 0.1;
  -moz-transform: scale(0.1);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.1);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.1);
  -webkit-transform-origin: 0 0;
  pointer-events: none;
}

.more-actions-container{
  padding:0 15px;
  margin-bottom:17px;
  > div{
    float: right;
  }
  .right-circle{
    border-radius: 50%;
    background-color:  $primaryColor;
    color: $whiteColor;
    padding: 7px 9px;
    line-height: 2px;
    position: relative;
    font-size: 13px;
    float: left;
    z-index: 2;
  }

  .left-circle{
    border-radius: 50%;
    float: left;
    width:29px;
    height:29px;
    background-color:$primaryColor;
  }

  .actions{
    float: left;
    padding: 2px 20px 3px 0;
    background-color:$primaryColor;
    border-right: none;
    margin-right: -20px;
    margin-left: -14px;
    .btn{
      padding:2px 8px;
    }
  }
}

@import '../../../styles/variables';

label.media {
  input {
    display: none;
  }
  .radio-indicator {
    display: inline-block;
    &:before {
      content: "\f05e";
      font-family: 'FontAwesome';
    }
  }

  input[checked="checked"] + .radio-indicator,
  input:checked + .radio-indicator {
    &:before {
      content: "\f00c";
      font-family: 'FontAwesome';
    }
  }
}

label.media.active {
  border: 2px solid $primaryColor;
  overflow: hidden;
  .radio-indicator {
    background-color: $primaryColor;
    color: $whiteColor;
    &:before {
      content: "\f00c";
      font-family: 'FontAwesome';
    }
  }
}

.media-action, .table-action {
  padding: 6px 8px;
  color: #333;
  outline: none;
  border: none;
  background: transparent;
  line-height: normal;
  width: 32px;
  height: 30px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.media-action:hover, .table-action:hover {
  color: #333;
  background: #e7e7e7;
}

:host /deep/ .card-body {
  .tab-content {
    margin: 15px 0;
    border: 1px solid #eee;
    padding: 7px;
  }
  .nav-tabs{
    border-bottom:none;
    .nav-link.active,
    .nav-link,
    .nav-link:focus,
    .nav-link:hover{
      border: none;
      border-radius: 0;
    }

    .nav-link{
      font-size: 14px;
      padding: 0.2rem 1.5rem;
      &.active, &:hover{
        color: $whiteColor;
        background-color: $primaryColor;
      }
    }
  }
}

.custom-inputfile{
  display: none;
}

.custom-inputfile-label {
  display: inline-block;
  font-weight: normal;
  border: 1px solid #e4e4e4;
  padding: 6px 12px;
  cursor: pointer;
}

.custom-inputfile-label:focus,
.custom-inputfile-label:hover {
  border-color: $primaryColor;
}

.custom-inputfile-label:before {
  content: '\f093';
  font: normal normal normal 14px/1 FontAwesome;
  display: inline-block;
  margin-right: 7px;
}

.form-group:last-child{
  margin-bottom:0;
}

.table th{
  text-align: center;
}


footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 251px;
  border-top: 1px solid rgba(0, 0, 0, 0.03);
  z-index: 1000;
  background-color: #fafafa;
  text-align: center;
  font-size: 13px;
}
